* {
    background-color: rgb(188, 240, 188);
    font-family: "times new roman";
    /* border: 2px solid red; */
}

div {
    text-align: center;
    font-size: 50px;
    color: rgb(8, 80, 8);
}

img {
    display: block;
    margin-left: auto;
    margin-right:auto;
}

p {
    text-align: center;
    font-size: 25px;
}

h1,
h2 {
    text-align: center;
}

.disc.disc {
    font-size: 18px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
}

.link {
    font-size: 12px;
    text-align: left;
    margin-top: 0px;
}

.step {
    text-align: left;
    font-size: 18px;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-left: 5px;
}

.h2,
.recipes {
    margin-top: 15px;
    margin-bottom: 0px;
}

.blink {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.home {
    font-size: small;
    text-align: right;
}

.source {
    margin-bottom: 0px;
}

.end-buttons,
#home {
    background-color: aquamarine;
}

.end-buttons {
    padding-left: 10px;
    padding-right: 10px;
}